.loader{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(240, 227, 227, 0.5);
  backdrop-filter: blur(15px);
  position: fixed;
  z-index: 99999999;
  top:0;
  left:0;
}